.navbar {
    background-color: #ff4c68;
}

#nav-container {
    padding: 2.5% 15% 0;
    font-size: 1.15em;
}

#brand {
    color: white;
    font-size: 40px;
    font-family: "Ubuntu";
}

.nav-link {
    margin: 0 2.65rem 0 0;
    font-family: "Montserrat-light";
    font-size: 19px;
}

#nav-download {
    margin-right: 1.3rem;
}

#banner {
    background-color: #ff4c68;
    padding: 3% 15% 3%;
    margin: 0;
    font-family: "Montserrat";
}

#slogan-downloads, #phone-mockup {
    padding: 0 0 2.5rem 0;
}

#slogan {
    color: white;
    padding-bottom: 30px;
    font-weight: 900;
    font-size: 3.5em;
    line-height: 1.5;
}

#btn-android {
    background-color: inherit;
    color: white;
    font-weight: 400;
    border-radius: 6px;
    margin: 8px 0px 6px 0;
}

#btn-android:hover {
    background-color: white;
    color: black;
}

.fa-google-play {
    margin-right: 7px;
}

#btn-apple {
    background-color: rgb(65, 65, 65);
    color: white;
    font-weight: 400;
    border-radius: 6px;
    margin: 8px 15px 6px 0;
}

#btn-apple:hover {
    background-color: black;
}

.fa-apple {
    margin-right: 5px;
    width: 20px;
    padding: 0;
}

#iphone6-mockup {
    transform: rotate(24deg);
    width: 22%;
    position: absolute;
    z-index: 0;
    margin: .6em 0 0 7%;
}

#features {
    z-index: 2;
    position: relative;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    padding: 10% 14% 10%;
    margin: 0;
}

#features i {
    color: #ef8172;
    margin-bottom: 12px;
}

#features i:hover {
  color: #ff4c68;
}

#features h2 {
  font-size: 1.6em;
  font-weight: 900;
  padding: 8px 5px 0 5px;
}

#features p {
  color: #8f8f8f;
  padding-bottom: 1em;
}

#testimonials {
  background-color: #ef8172;
  position: relative;
  z-index: 2;
}

.carousel-item img {
  border-radius: 50%;
  width: 10rem;
}

.customer-testimonal {
  font-family: "Montserrat", sans-serif;
  font-size: 300%;
  font-weight: 900;
  color: white;
  padding: 5% 16% 10px;
}

.name-area {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: white;
  display: inline;
  margin-left: 1%;
  font-style: italic;
}

#press {
  background-color: #ef8172;
  display: flex;
  justify-content: center;
  padding: 3% 16% 3%;
}

.press-logo {
  padding: 6%;
  min-width: 155px !important;
  min-height: 65px !important;
}

/* Media Breakpoints */

@media screen and (max-width: 1800px) {
    #iphone6-mockup {
      transform: rotate(21deg);
    }
  }


@media screen and (max-width: 1600px) {
    #iphone6-mockup {
      transform: rotate(18deg);
    }
    .customer-testimonal {
      font-size: 275%;
    }
  }

  @media screen and (max-width: 1400px) {
    #iphone6-mockup {
      transform: rotate(12deg);
      width: 23%;
    }
    .customer-testimonal {
      font-size: 265%;
    }
  }

  @media screen and (max-width: 1300px) {
    #iphone6-mockup {
      transform: rotate(8deg);
      width: 24%;
    }
    .customer-testimonal {
      font-size: 255%;
    }
  }

  @media screen and (max-width: 1200px) {
    #iphone6-mockup {
      transform: rotate(0deg);
      width: 25%;
      height: auto;
    }
    .customer-testimonal {
      font-size: 245%;
    }
  }

  @media screen and (max-width: 850px) {
    #iphone6-mockup {
      transform: rotate(0deg);
      width: 27%;
      height: auto;
    }
    .customer-testimonal {
      font-size: 235%;
    }
  }


  @media screen and (max-width: 730px) {
    #iphone6-mockup {
      transform: rotate(0deg);
      width: 29%;
      height: auto;
    }
    .customer-testimonal {
      font-size: 225%;
    }
  }

  @media screen and (max-width: 700px) {
    #iphone6-mockup {
      width: 31%;
    }
    .customer-testimonal {
      font-size: 215%;
    }
  }

  @media screen and (max-width: 660px) {
    #iphone6-mockup {
      display: none;
    }
    .customer-testimonal {
      font-size: 200%;
    }
  }
