.navbar {
    background-color: #ff4c68;
}

#nav-container {
    padding: 2.5% 15% 1%;
    font-size: 1.15em;
}

#brand {
    color: white;
    font-size: 40px;
    font-family: "Ubuntu";
}

.nav-link {
    margin: 0 2.65rem 0 0;
    font-family: "Montserrat-light";
    font-size: 19px;
}

#nav-download {
    margin-right: 1.3rem;
}

#banner {
    background-color: #ff4c68;
    padding: 3% 15% 4%;
    margin: 0;
    font-family: "Montserrat";
}

#slogan-downloads, #phone-mockup {
    padding: 0 0 2.5rem 0;
}

#slogan {
    color: white;
    padding-bottom: 30px;
    font-weight: 900;
    font-size: 3.5em;
    line-height: 1.5;
}

#btn-android {
    background-color: inherit;
    color: white;
    font-weight: 400;
    border-radius: 5px;
    margin: 8px 15px 6px 0;
}

#btn-android:hover {
    background-color: white;
    color: black;
}

.fa-google-play {
    margin-right: 7px;
}

#btn-apple {
    background-color: rgb(65, 65, 65);
    color: white;
    font-weight: 400;
    border-radius: 5px;
    margin: 8px 15px 6px 0;
}

#btn-apple:hover {
    background-color: black;
}

.fa-apple {
    margin-right: 5px;
    width: 20px;
    padding: 0;
}

#iphone6-mockup {
    transform: rotate(24deg);
    width: 22%;
    position: absolute;
    z-index: 0;
    margin: .6em 0 0 7%;
}

#features {
    z-index: 2;
    position: relative;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    padding: 12% 14% 12%;
    margin: 0;
}

#features i {
    color: #ef8172;
    margin-bottom: 12px;
}

#features i:hover {
  color: #ff4c68;
}

#features h2 {
  font-size: 1.6em;
  font-weight: 900;
  padding: 8px 5px 0 5px;
}

#features p {
  color: #8f8f8f;
  padding-bottom: 1em;
}

#testimonials {
  background-color: #ef8172;
  position: relative;
  z-index: 2;
}

.carousel-item img {
  border-radius: 50%;
  width: 10rem;
}

.customer-testimonal {
  font-family: "Montserrat", sans-serif;
  font-size: 280%;
  font-weight: 900;
  color: white;
  padding: 5% 16% 10px;
}

.name-area {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: white;
  display: inline;
  margin-left: 1%;
  font-style: italic;
}

#press {
  background-color: #ef8172;
  padding: 4% 16% 3%;
}

#press > .col {
  display: flex;
  justify-content: center;
}

.press-logo {
  padding: 4% 7% 4%;
  width: 84%;
  height: 84%;
  min-width: 196px;
  min-height: 72px;
  max-width: 344px;
  max-height: 128px;
}

#pricing {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  padding: 3% 15% 3%;
  margin-bottom: 3em;
}

#pricing > .heading {
  font-size: 3em;
  font-weight: 900;
  padding: 4% 0 12px 0;
}

#pricing > .subheading {
  color: #8f8f8f;
  padding-bottom: 2%;
}

.pricing-plan {
  padding: 2%;
}

.tier-name {
  padding: 14px 0 14px 0;
  font-size: 2em;
  font-weight: 400;
  margin: 0;
}

.price {
  font-size: 3em;
  font-weight: 900;
  padding: 2% 0 2% 0;
}

.plan-details {
  color: #8f8f8f;
}

#mastiff-tier .card-body .plan-details {
  line-height: 87%;
}

#sign-up-btn1, #sign-up-btn2, #sign-up-btn3 {
  margin-top: 22px;
}
#sign-up-btn2, #sign-up-btn3 {
  background-color: rgb(65, 65, 65);
  color: white;
  border-radius: 5px;
}

#sign-up-btn2:hover, #sign-up-btn3:hover {
  background-color: black;
}

#download {
  font-family: "Montserrat", sans-serif;
  background-color: #ff4c68;
  color: white;
  padding: 3% 15% 8em;
}

#call-to-action {
  font-size: 3.5em;
  font-weight: 900;
  padding: 0 10% 3%;
  margin: 2em 0 .4em 0;
}

#call-to-download #btn-apple, #call-to-download #btn-android  {
  margin: 10px 22px 14px 22px;
}

#contact {
  padding: 6em 15% 6em;
}

#contact .btn {
  border: none;
  margin-bottom: 2em;
  color: rgb(65, 65, 65);
}

#contact .btn:hover {
  color: black;
}

#copyright, #credits {
  font-family: "Montserrat", sans-serif;
  color: #8f8f8f;
  line-height: 0.4;
}

#credits .fa-heart {
  color: red;
}

/* Media Breakpoints */

@media screen and (max-width: 1800px) {
    #iphone6-mockup {
      transform: rotate(21deg);
    }
    .press-logo {
      width: 86%;
      height: 86%;
    }
  }


@media screen and (max-width: 1600px) {
    #iphone6-mockup {
      transform: rotate(18deg);
    }
    .customer-testimonal {
      font-size: 265%;
    }
  }

  @media screen and (max-width: 1400px) {
    #iphone6-mockup {
      transform: rotate(12deg);
      width: 23%;
    }
    .customer-testimonal {
      font-size: 265%;
    }
    .press-logo {
      width: 88%;
      height: 88%;
    }
  }

  @media screen and (max-width: 1300px) {
    #iphone6-mockup {
      transform: rotate(8deg);
      width: 24%;
    }
    .customer-testimonal {
      font-size: 255%;
    }
  }

  @media screen and (max-width: 1200px) {
    #iphone6-mockup {
      transform: rotate(6deg);
      width: 25%;
      height: auto;
    }
    .customer-testimonal {
      font-size: 240%;
    }
  }

  @media screen and (max-width: 1080px) {
    #iphone6-mockup {
      transform: rotate(0deg);
      width: 26%;
      height: auto;
    }
  }

  @media screen and (max-width: 991px) {
    #banner {
      text-align: center;
    }
    #iphone6-mockup {
      transform: rotate(0deg);
      width: 38%;
      height: auto;
      position: static;
      margin: 0 auto 0 auto;
    }
    .customer-testimonal {
      font-size: 235%;
    }
  }

  @media screen and (max-width: 850px) {
    #banner {
      text-align: center;
    }
    #iphone6-mockup {
      transform: rotate(0deg);
      width: 40%;
      height: auto;
      position: static;
    }
    .customer-testimonal {
      font-size: 230%;
    }
  }

  @media screen and (max-width: 730px) {
    #iphone6-mockup {
      transform: rotate(0deg);
      width: 44%;
      height: auto;
    }
    .customer-testimonal {
      font-size: 220%;
    }
  }

  @media screen and (max-width: 700px) {
    .customer-testimonal {
      font-size: 200%;
    }
  }

  @media screen and (max-width: 639px) {
    #iphone6-mockup {
      display: none;
    }
    .customer-testimonal {
      font-size: 180%;
    }
  }

  @media screen and (max-width: 348px) {
    .name-area {
      display: block;
    }
  }